<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <form method="POST" action="send">
             <p>
                <label for="email">Send to:</label>
                <input type="email" name="email" id="email" required>
            </p>
            <p>
                <button type="submit">send otp</button>
            </p>
        </form>
        <form method="POST" action="verify">
           
            <p>
                <label for="otp">Enter otp</label>
                <input type="text" name="otp" required>
            </p>
    
            <p>
                <button type="submit">Submit</button>
            </p>
            
        </form>
</body>
</html>